
    <div class="modal-body text-center">
      <div class="modal-content">
        <div class="modal-header">
          
          <h4 class="modal-title">Forget Password</h4>
          <button type="button" class="close" (click)="close()">&times;</button>
        </div>
        <div class="modal-body">
            <div class="form-contain">
                <form (ngSubmit)="onSubmitForget()" [formGroup]='forgetPass' class="form">
            
                    <div class="form-group ">
                      <label for="inputemail">Email Id :</label>
                      <input type="email" formControlName='email' class="form-control" placeholder="@gmail.com" required>
            
                      <div class="alert red-text"
                        *ngIf="forgetPass.get('email').hasError('required') && forgetPass.get('email').dirty ">
                        Enter Email Id
                      </div>
                      <div class="alert red-text"
                        *ngIf="forgetPass.get('email').hasError('pattern') &&  forgetPass.get('email').dirty ">
                        Enter Valid Email Id
                      </div>
                    </div>
            
                   
                  <button type="submit" 
                  [disabled]="forgetPass.controls['email'].invalid || forgetPass.prestine" class="btn btn-primary" >Send</button>
                </form>
              </div>
        </div>
        <div class="modal-footer">
         
          <a routerLink="/" class="btn btn-default" (click)="close()">
            Close
           </a>
        </div>
      </div>
      
    </div>
 



