<div class="login-container">

  <div class="center-box">
    <div class="form-Header">
      <h3> Test Templet Information</h3>
    </div>
    <div class="card">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Test.No.</th>
              <th >Test Name</th>             
              <th >Total No. Question Count</th>
              <th>Total Marks</th>
              <th >Passing Marks</th>
              <th >Status</th>             
              <th>Operation</th>
            </tr>
          </thead>
          <tbody >
            <tr *ngFor = 'let test of testInfo;let i = index'>
              <td>{{i+1}}</td>
              <td>{{test.testName}}</td>
              <td>{{test.numberOfQuestions}}</td>
              <td>{{test.totalScore}}</td>
              <td>{{test.passingScore}}</td>
              <td>{{test.status}}</td>             
              <td>


                  <ng-template #popTemplate let-message="message">
                      <a class="btn action-btn" routerLink="/TestTemplet/editTestTemplet/{{test._id}}"> 
                        <i class="material-icons" >edit</i> </a>
  
                 <a class="btn action-btn">
                    <i class="material-icons" (click)='deleteTest(test._id)'>delete</i>
                    </a>
                    </ng-template>
                    <button type="button" class="btn btn-primary" [popover]="popTemplate" [popoverContext]="context"
                      [adaptivePosition]="false" triggers="click"  [outsideClick]='true' placement="right">
                      ...
                    </button>
                  
              </td>
            </tr>
          </tbody>
        </table>
      
      </div>
      </div>
      <br>
    </div>

</div>