.login-container {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
   
    .center-box {
        display: table-cell;
        vertical-align: middle;
       
    }
    .card {
        margin-left: auto;
        margin-right: auto;
        width: 500px;
        padding: 30px;
        border-color: 2px grey solid;
       
    }
}