.login-container {
    .center-box {
        margin-top: 2%;
        vertical-align: middle;
        background-color: rgb(230, 230, 230);
    }
    .card {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        width: 85%;
        padding: 20px;
        border: 1px rgb(177, 177, 177) solid;
    }   
}
.form-Header {
    padding-top: 20px;
    font-size: 5px;
    font-family: verdana;
    text-align: center;
    text-decoration: underline;
    height: 70px;
}