<div class="container">
  <div class="row">
      <h1>My Interview Portal</h1>
      <hr>
      
      <div class="col-md-12">
         
          <table class="table table-striped">
              <thead>
                  <tr>
                
                      <th>Test</th>
                      <th>No of Questions</th>
                      <th>Duration</th>
                      <th></th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor='let test of testData ; let i = index'>
                      <td>{{test.testId.testName}}</td>
                      <td>{{test.testId.questions.length}}</td>
                      <td>{{test.testId.duration}}
                      <td>
                            <a routerLink="/exam/startExam/{{test.testId._id}}"   class="btn btn-warning">Start Test</a>
                          <!-- <a (click)='startExam(test.testId._id)'   class="btn btn-warning">Start Test</a> -->
                        </td>
                  </tr>
                 
              </tbody>
          </table>
      </div>
  </div>