<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" [routerLink]="['/dashboard/']">OnlineTestCenter </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
         
         
              <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/subject/addSubject']">Subject</a></li>
                        
                        <li class="nav-item">
                                <a class="nav-link"[routerLink]="['/topic/addTopic']">Topic</a></li>
                           
                            <li class="nav-item">
                                    <div class="dropdown">
                                            <button class="dropbtn">Question</button>
                                            <div class="dropdown-content">
                                              <a [routerLink]="['/Questions/addQuestion']">Add Question</a>
                                              <a [routerLink]="['/Questions/viewQuestion']">View Question</a>
                                    
                                            </div>
                                          </div>
                            </li>
                            <li class="nav-item">
                                    <div class="dropdown">
                                            <button class="dropbtn">Test Templet</button>
                                            <div class="dropdown-content">
                                              <a [routerLink]="['/TestTemplet/addTestTemplet']">Creat Test Templet</a>
                                              <a [routerLink]="['/TestTemplet/viewTestTemplet']">View Test Templet</a>
                                            </div>
                                          </div>
                            </li>
                                    

             
          </ul>
          <ul class="navbar-nav float-right">
              <li class="nav-item">
                  <a class="nav-link">Hello, Sagar</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Logout</a>
              </li>
          </ul>
      </div>
  </nav>
</header>