.form-Header{
    font-size: 30px;    
    font-family: vani Bold;
    text-align: center;

 }
 .employeeform{
   
     box-shadow: 2px 0px 10px  rgb(128,128,128);
    
     border-radius: 3%;
 }
 .alert{
     background-color: rgb(240, 223, 223);
     border-color: red;
 }
 .red-text{
     color:red;
 }
 .form-contain{  
     padding: 20px;
 }